/* Eric Mayers Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global  */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */

body {
  padding: 3rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Card {
  background-color: #f2f2f2;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 7px;
}
.container {
  margin: 0 auto;
  max-width: 60rem;
}

img {
  width: 100%;
}

/* Hero Section */

.hero {
  position: relative;
}

.category {
  background-color: #e64c3a;
  display: inline-block;
  position: absolute;
  bottom: 0.2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.thumbnail {
  background-color: #e64c3a;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  padding: 2rem 2.5rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  border-radius: 50%;
}

.day {
  padding-left: 0.7rem;
  padding-bottom: 0.4rem;
}

.post_content {
  padding: 1rem 1.5rem;
}

.post_content .title {
  font-size: 3rem;
  padding: 1rem 0;
  color: #413e3e;
  font-weight: 600;
}

.post_content .sub-title {
  font-size: 2.2rem;
  color: #e64c3a;
  font-weight: 500;
  padding-bottom: 3rem;
}

.description {
  font-size: 1.7rem;
  color: #6d6969;
  line-height: 2.7rem;
  padding-bottom: 4rem;
}

.footer img {
  width: 2rem;
  margin-right: 0.8rem;
}

.footer {
  display: flex;
}

.time,
.comments {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 2rem;
  padding: 0 1rem;
}

.hero img {
  height: 30rem;
}